@charset "UTF-8";

h1{
    color: green;
    padding: 10px;
    border: solid 2px green;
    border-radius: 30px;
}

h2{
    color: red;
    background-color: pink;
    border-radius: 20px;
}
h3{
    border: solid 2px blue;
    color: blue;
    width: 20%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 30px;
}
p{
    color: blue;
}
img{
    width: 30%;
}
th{
    width: 20%;
}
